/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
html {
  font-size: 93.75%;
  line-height: 1.2em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
blockquote {
  margin: 1.2em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.6em;
  margin-bottom: 0.6em; }

h2 {
  font-size: 1.5em;
  line-height: 1.6em;
  margin-top: 0.8em;
  margin-bottom: 0.8em; }

h3 {
  font-size: 1.17em;
  line-height: 2.05128em;
  margin-top: 1.02564em;
  margin-bottom: 1.02564em; }

h4 {
  font-size: 1em;
  line-height: 2.4em;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

h5 {
  font-size: 0.83em;
  line-height: 1.44578em;
  margin-top: 1.44578em;
  margin-bottom: 1.44578em; }

h6 {
  font-size: 0.67em;
  line-height: 1.79104em;
  margin-top: 1.79104em;
  margin-bottom: 1.79104em; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
p,
pre {
  margin: 1.2em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1.2em 0; }

dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1.2em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.06667em;
  border-top-style: solid;
  padding-top: 0.35333em;
  border-bottom-width: 0.06667em;
  border-bottom-style: solid;
  padding-bottom: 0.71333em;
  border-left-width: 0.06667em;
  border-left-style: solid;
  padding-left: 0.68333em;
  border-right-width: 0.06667em;
  border-right-style: solid;
  padding-right: 0.68333em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* base style */
/* variables */
/* widths */
/* mixins */
/* global css */
html {
  height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-size: 1em;
  min-width: 20em;
  overflow-y: scroll; }

video {
  display: inline-block;
  vertical-align: baseline;
  max-width: 100%;
  height: auto; }

p {
  overflow: hidden;
  white-space: pre-line;
  margin: 0;
  word-wrap: break-word;
  hyphens: auto; }

body {
  background-color: #e2e3ea;
  color: #e7e7f3; }

a {
  color: #b36666; }
  a:hover, a:focus, a.focus {
    color: #f36666; }

.pagination,
.gallery,
.comic,
.admin,
.comic_title,
.blog_subcontainer {
  background-color: #edeef3;
  color: #242629;
  border: 1px solid #b9b9b9; }

.subcontainer_author,
.subcontainer_info {
  color: #a7a7a7; }

.menu_container {
  background-color: #edeef3;
  color: #242629;
  border: 1px solid #b9b9b9; }
  .menu_container a:hover, .menu_container a:focus, .menu_container a.focus {
    color: #242629;
    background-color: #f36666; }

.image_info {
  background-color: #ddd;
  opacity: 0.8;
  color: #242629; }

.pagination a:hover, .pagination a:focus, .pagination a.focus {
  color: #242629;
  background-color: #f36666; }

.main_content {
  order: 2;
  height: auto;
  padding: 0.5em; }
  @media screen and (min-width: 50em) {
    .main_content {
      padding: 1em;
      width: 80%; } }

.blog_subcontainer {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  margin-bottom: 1em; }
  .blog_subcontainer .subcontainer_content {
    padding: 1em; }
  .blog_subcontainer .subcontainer_header {
    padding: 1em; }
    .blog_subcontainer .subcontainer_header:before, .blog_subcontainer .subcontainer_header:after {
      content: " ";
      display: table; }
    .blog_subcontainer .subcontainer_header:after {
      clear: both; }
  .blog_subcontainer .subcontainer_title {
    display: inline-block;
    float: left;
    width: 50%;
    font-size: 1.2em; }
  .blog_subcontainer .subcontainer_info {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: right;
    font-size: 0.8em; }
  .blog_subcontainer .subcontainer_footer {
    padding: 0.5em 1em;
    padding-bottom: 1em; }
  .blog_subcontainer .subcontainer_author {
    font-size: 0.8em; }

.main_menu {
  order: 1;
  height: auto;
  padding: 0.5em; }
  @media screen and (min-width: 50em) {
    .main_menu {
      padding: 1em;
      width: 20%; } }

.menu_container {
  text-align: center;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 1em; }
  @media screen and (min-width: 50em) {
    .menu_container {
      margin-top: 0;
      margin-bottom: 1em; } }
  .menu_container .menu_item {
    display: inline-block;
    text-decoration: none;
    padding: 1em; }
    .menu_container .menu_item:hover, .menu_container .menu_item:focus, .menu_container .menu_item.focus {
      text-decoration: none; }
    @media screen and (min-width: 50em) {
      .menu_container .menu_item {
        padding: 0.6em 0;
        width: 100%; } }

.gallery {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em; }
  .gallery a {
    position: relative;
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 3px;
    max-height: 300px;
    width: 100%; }
  .gallery a:hover img {
    transform: scale(1.15); }
  @media screen and (min-width: 50em) {
    .gallery a {
      width: calc(30% - 6px);
      height: 250px;
      margin-right: 8px; } }
@media screen and (min-width: 50em) and (min-width: 65em) {
  .gallery a {
    height: 300px; } }

  .gallery .image_info {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    z-index: 9; }
  .gallery .image {
    display: inline-block;
    position: relative;
    height: 100%;
    z-index: 8; }
    @media screen and (min-width: 50em) {
      .gallery .image {
        right: -50%; } }
    .gallery .image img {
      width: 100%;
      max-height: 200%; }
      @media screen and (min-width: 50em) {
        .gallery .image img {
          position: relative;
          left: -50%;
          max-height: 300px;
          max-width: none;
          width: auto; } }
      @media screen and (min-width: 65em) {
        .gallery .image img {
          max-height: 400px; } }

.comic_title {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 1em; }

.comic {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  padding: 1em;
  margin: 1em 0; }
  .comic a {
    position: relative;
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    width: 100%; }
  .comic .image {
    display: inline-block;
    height: 100%; }
    .comic .image img {
      max-width: 100%; }

.pagination {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1em; }
  .pagination .nav_link {
    padding: 1em 2em;
    display: inline-block;
    text-decoration: none;
    user-select: none; }
  .pagination .left {
    float: left;
    text-align: left;
    width: 30%; }
  .pagination .right {
    float: right;
    text-align: right;
    width: 30%; }
  .pagination .center {
    padding: 1em;
    display: inline-block;
    float: left;
    text-align: center;
    width: 40%; }
  .pagination .disabled {
    color: #909090;
    cursor: not-allowed; }

.admin {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  padding: 1em;
  margin-bottom: 1em; }
  .admin .nav_link {
    display: inline-block; }

/* main css */
@media screen and (min-width: 50em) {
  .container {
    padding-top: 1em; } }

.main_container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .main_container:before, .main_container:after {
    content: " ";
    display: table; }
  .main_container:after {
    clear: both; }
  @media screen and (min-width: 50em) {
    .main_container {
      width: 48em; } }
  @media screen and (min-width: 65em) {
    .main_container {
      width: 63em; } }
  @media screen and (min-width: 80em) {
    .main_container {
      width: 78em; } }
  @media screen and (min-width: 50em) {
    .main_container {
      flex-direction: row; } }
