body {
  background-color: #333335;
  color: #e7e7f3;
}

a {
  color: #b36666;

  &:hover,
  &:focus,
  &.focus {
    color: #f36666;
  }
}

.pagination,
.gallery,
.comic,
.admin,
.comic_desc,
.blog_subcontainer,
.commission_container,
.menu_container {
  background-color: #e0e0e0;
  color: #242629;
  border: 1px solid #232323;
        box-shadow: inset 1px 0 0 0 #5f5f65;
}

.commission_closed {
  background-color: #ff5b5b;
}

.commission_open {
  background-color: #74caa8;
}

.comic_title,
.notification_subcontainer {
  background-color: #4c4c4c;
  color: #bfc2c7;
  border: 1px solid #232323;
        box-shadow: inset 1px 0 0 0 #5f5f65;
}

.subcontainer_author,
.subcontainer_info {
  color: #a7a7a7;
}

.menu_container {
  &.admin_panel {
    background-color: #ffeaea;
  }

  a {
    &:hover,
    &:focus,
    &.focus {
      color: #242629;
      background-color: #f36666;
    }
  }
}

.image_info {
  background-color: #ddd;
  opacity: 0.8;
  color: #242629;
}

.pagination {
  a {
    &:hover,
    &:focus,
    &.focus {
      color: #242629;
      background-color: #f36666;
    }
  }
}

.form-group {
  & textarea,
  & input,
  & .userinfo {
    border: 1px solid darken(#edeef3, 6%);
    background-color: lighten(#edeef3, 3%);
  }

  & input[type=file] {
    border: hidden;
    background-color: transparent;
  }
}

.button-default {
  border: 1px solid lighten(#4e4e4e, 10%);
  background-color: lighten(#4e4e4e, 5%);
  box-shadow: inset 0 1px 0 0 darken(#4e4e4e, 15%);
color: #d6d6d6;

  &:hover,
  &:focus,
  &.focus {
    background-color: lighten(#4e4e4e, 15%);
  }
}

.button-primary {
  border: 1px solid darken(#edeef3, 15%);
  background-color: #edeef3;
  box-shadow: inset 0 1px 0 0 lighten(#edeef3, 8%);

  &:hover {
    background-color: darken(#edeef3, 3%);
  }
}

.button-success {
  border: 1px solid darken(#74caa8, 15%);
  background-color: #74caa8;
  box-shadow: inset 0 1px 0 0 lighten(#74caa8, 8%);

  &:hover {
    background-color: darken(#74caa8, 3%);
  }
}

.button-danger {
  border: 1px solid darken(#E89B9B, 15%);
  background-color: #E89B9B;
  box-shadow: inset 0 1px 0 0 lighten(#E89B9B, 8%);

  &:hover {
    background-color: darken(#E89B9B, 3%);
  }
}

.label-default {
  background-color: #eee;
}
