.gallery {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;

  & a {
    position: relative;
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 8px;
    border-radius: 3px;
    max-height: 300px;
    width: 100%;
  }

  & a:hover img {
    transform: scale(1.15);
  }

  @media #{$screenSmall} {
    a {
      width: calc(30% - 6px);
      height: 200px;
      margin-right: 8px;
    }

    @media #{$screenMedium} {
      a {
        height: 250px;
      }
    }
  }

  & .image_info {
    width: 100%;
    text-align: left;
    position: absolute;
    bottom: 0;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    z-index: 9;
  }

  & .image {
    display: inline-block;
    position: relative;
    height: 100%;
    z-index: 8;

    @media #{$screenSmall} {
      right: -50%;
    }

    & img {
      width: 100%;
      max-height: 200%;

      @media #{$screenSmall} {
        position: relative;
        left: -50%;
        max-height: 300px;
        max-width: none;
        width: auto;
      }

      @media #{$screenMedium} {
        max-height: 400px;
      }
    }
  }
}

.comic_title {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 1em;
}

.comic_desc {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: left;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 1em;

  & p {
    white-space: pre-line;
  }
}

.comic {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  padding: 1em;
  margin: 1em 0;

  & a {
    position: relative;
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
  }

  & .image {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;

    & img {
      max-width: 100%;
    }
  }
}
