/* main css */

.container {}

.main_container {
  @include clearfix;

  @include mediaWidths;

  width: $boxWidthRel;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media #{$screenSmall} {
    flex-direction: row;
  }
}

.main_menu {
  order: 1;
  height: auto;
  padding: 0.5em;
  display: flex;
    flex-direction: column;

}

.menu_container {
  order: 2;
  text-align: center;
  overflow: hidden;
  border-radius: 4px;
margin-bottom: 5px;

  @media #{$screenSmall} {
margin-bottom: 1em;
  }




  & .menu_item {
    display: inline-block;
    text-decoration: none;
    padding: 0.8em;

    @media #{$screenSmall} {
      display: block;
    }

    &:hover,
    &:focus,
    &.focus {
      text-decoration: none;
    }
  }
}

.menu_logo {
  order: 1;
  text-align: center;
  overflow: hidden;
  padding: 0.5em;



  & img {
    display: inline-block;
    max-width: 10em;
    height: auto;
    max-height: 2em;
  }
}
