{{ template "base" .}}
<div class="admin">
    <form action="/admin/category/new" method="post" enctype="multipart/form-data">
        <input class="form-control" type="hidden" name="csrf_token" value="{{.Csrf}}" />
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" />
        </div>
        <div class="form-group">
            <textarea placeholder="Description" class="form-control" rows="8" name="desc"></textarea>
        </div>
        <div class="form-group">
            <button class="button button-default form-control" type="submit" value="Submit">Create Category</button>
        </div>
    </form>
</div>
{{ template "footer" .}}
