{{ template "base" .}}
{{ template "pagination" .}}
<div class="comic">
  <a target="_blank" href="http://orig15.deviantart.net/4e54/f/2012/344/2/4/let_s_burn_some_muscle__p1_by_zdemian-d5nm07e.jpg">
    <div class="image">
      <img src="http://orig15.deviantart.net/4e54/f/2012/344/2/4/let_s_burn_some_muscle__p1_by_zdemian-d5nm07e.jpg" alt="">
    </div>
  </a>
</div>
{{ template "pagination" .}}
{{ template "footer" .}}
