{{template "base" .}}
<div class="commission_container">
    <div class="commission_status {{if .Commission.Open}}commission_open{{else}}commission_closed{{end}}">
        {{if .Commission.Open}}OPEN{{else}}CLOSED{{end}}
    </div>
    <div class="commission_subcontainer">
        <div class="commission_info">
            Last updated: {{.Commission.HumanTime}}
        </div>
        <div class="commission_content">
            {{.Commission.ContentOut}}
        </div>
    </div>
</div>
{{template "footer" .}}
