{{ template "base" .}}
<div class="blog_subcontainer">
    <div class="subcontainer_header">
        <div class="subcontainer_info">
            Error
        </div>
        <div class="subcontainer_title">
            Something went wrong!
        </div>
    </div>
</div>
{{ template "footer" .}}
