{{ template "base" .}} {{if .All}}
<div class="comic_title">
    {{.Category.Title}}
</div>
<div class="comic_desc">
    {{.Category.DescOut}}
</div>
{{ template "pagination" .}}
<div class="gallery">
    {{range $gallery := .Galleries}}
    <a href="comic/{{$gallery.ID}}/1">
        <div class="image_info">
            {{$gallery.Title}}
        </div>
        <div class="image">
            <img src="images/{{$gallery.Cover}}" alt="">
        </div>
    </a> {{end}}
</div>
{{else}}
<div class="comic_title">
    {{.Gallery.Title}}
</div>
<div class="comic_desc">
    {{.Gallery.DescOut}}
</div>
{{ template "pagination" .}}
<div class="gallery">
    {{range $i, $file := .Gallery.Files}} {{if $.Paged.Key}}
    <a href="image/{{$.Gallery.ID}}/{{add $.Paged.Skip $i 1}}?key={{$.Paged.Key}}">
      {{else}}
    <a href="image/{{$.Gallery.ID}}/{{add $.Paged.Skip $i 1}}">
      {{end}}
        <div class="image">
            <img src="images/{{$file.Filename}}" alt="{{$file.Desc}}">
        </div>
    </a> {{end}}
</div>
{{end}} {{ template "pagination" .}} {{ template "footer" .}}
