{{ template "base" .}}
<div class="comic_title">
    {{if .Paged.Key}}
    <a href="/comic/{{.Comic}}/1?key={{.Paged.Key}}">{{.Title}}</a> {{else}}
    <a href="/comic/{{.Comic}}/1">{{.Title}}</a> {{end}}
</div>
{{ template "pagination" .}}
<div class="comic">
    <a target="_blank" href="images/{{.Image.Filename}}">
        <div class="image">
            <img src="images/{{.Image.Filename}}" alt="{{.Image.Desc}}">
        </div>
    </a>
</div>
{{ if .Image.Desc}}
<div class="comic_desc">
    {{.Image.DescOut}}
</div>
{{end}}
{{ template "pagination" .}} {{ template "footer" .}}
