{{define "menu"}}
<div class="main_menu">
    <div class="menu_container">
        <a class="menu_item" href="/">Updates</a>
        <a class="menu_item" href="/categories">Gallery</a>
        <a class="menu_item" href="/commission">Commission</a>
    </div>
    {{ if .Meta.Links}}
    <div class="menu_container">
        {{range $link := .Meta.Links}}
        <a class="menu_item" target="_blank" href="{{$link.Address}}">{{$link.Title}}</a> {{end}}
    </div>
    {{end}}
    <div class="menu_container">
        <a class="menu_item" href="/admin/panel">Admin</a>
    </div>
    <div class="menu_logo">
        <a href="/"><img src="/logo.png" /></a>
    </div>
</div>
{{end}}
