{{define "menu"}}
<div class="main_menu">
    <div class="menu_container">
        <a class="menu_item" href="/">Updates</a>
        <a class="menu_item" href="/comics/1">Comics</a>
        <a class="menu_item" href="/commission">Commission</a>
    </div>
    <div class="menu_container admin_panel">
        <a class="menu_item" href="/admin/panel">Gallery Admin</a>
        <a class="menu_item" href="/admin/blog">New Blog</a>
        <a class="menu_item" href="/admin/gallery">New Gallery</a>
        <a class="menu_item" href="/admin/commission">Update Commission</a>
        <a class="menu_item" href="/admin/logout">Log Out</a>
    </div>
    <div class="menu_container">
        <a class="menu_item" target="_blank" href="//patreon.com">Patreon</a>
        <a class="menu_item" target="_blank" href="//deviantart.com">DeviantArt</a>
        <a class="menu_item" target="_blank" href="//tumblr.com">Tumblr</a>
    </div>
</div>
{{end}}
