{{define "menu"}}
<div class="main_menu">
    <div class="menu_container">
        <a class="menu_item" href="/">Updates</a>
        <a class="menu_item" href="/comics/1">Galleries</a>
        <a class="menu_item" href="/commission">Commission</a>
    </div>
    <div class="menu_logo">
      <a href="/"><img src="/css/logo.png" /></a>
    </div>
</div>

<div class="menu_container admin_panel">
    <a class="menu_item" href="/admin/login">Login</a>
    <a class="menu_item" href="/admin/panel">Gallery Admin</a>
    <a class="menu_item" href="/admin/blog">New Blog</a>
    <a class="menu_item" href="/admin/logout">Log Out</a>
</div>
{{end}}
