{{define "pagination"}}
<div class="pagination">
    <div class="left">
        {{ if .Paged.Min}}
        <span class="nav_link disabled">Prev</span> {{else}} {{ if .Key}}
        <a class="nav_link" href="{{.Paged.Path}}/{{.Paged.Prev}}?key={{.Key}}">Prev</a> {{else}}
        <a class="nav_link" href="{{.Paged.Path}}/{{.Paged.Prev}}">Prev</a> {{end}} {{end}}
    </div>
    <div class="center">
        {{ .Paged.CurrentPage}}/{{ .Paged.Pages }}
    </div>
    <div class="right">
        {{ if .Paged.Max}}
        <span class="nav_link disabled">Next</span> {{else}} {{ if .Key}}
        <a class="nav_link" href="{{.Paged.Path}}/{{.Paged.Next}}?key={{.Key}}">Next</a> {{else}}
        <a class="nav_link" href="{{.Paged.Path}}/{{.Paged.Next}}">Next</a> {{end}} {{end}}
    </div>
</div>
{{end}}
