{{ template "base" .}}
<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Admin panel</div>
        <a class="button button-primary" style="float:right;" href="/admin/logout">Log Out</a>
    </div>
</div>
<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Categories</div>
        <a class="button button-primary" style="float:right;" href="/admin/category">New</a>
    </div>
    <table>
        <thead>
            <tr>
                <th style="text-align:left;">Title</th>
                <th style="text-align:center;">Galleries</th>
                <th style="text-align:center;">Edit</th>
                <th style="text-align:center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{range $category := .Categories}}
            <tr>
                <td style="width:auto;text-align:left;">
                    {{$category.Title}}
                </td>
                <td style="width:3em;text-align:center;">
                    {{$category.Galleries}}
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <a class="button button-primary" href="/admin/category/edit/{{$category.ID}}">Edit</a>
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <form action="/admin/category/delete" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="csrf_token" value="{{$.Csrf}}" />
                        <input class="form-control" type="hidden" name="category" value="{{$category.ID}}" />
                        <button class="button button-danger" type="submit" value="Submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Galleries</div>
        <a class="button button-primary" style="float:right;" href="/admin/gallery">New</a>
    </div>
    <table>
        <thead>
            <tr>
                <th style="text-align:left;">Title</th>
                <th style="text-align:center;">Images</th>
                <th style="text-align:center;">Private</th>
                <th style="text-align:center;">Edit</th>
                <th style="text-align:center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{range $gallery := .Galleries}}
            <tr>
                <td style="width:auto;text-align:left;">
                    {{$gallery.Title}}
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    {{$gallery.Images}}
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    {{if $gallery.Private}}
                    <form action="/admin/gallery/private" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="csrf_token" value="{{$.Csrf}}" />
                        <input class="form-control" type="hidden" name="id" value="{{$gallery.ID}}" />
                        <input class="form-control" type="hidden" name="private" value="false" />
                        <button class="button button-danger" type="submit" value="Submit">Private</button>
                    </form>
                    {{else}}
                    <form action="/admin/gallery/private" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="csrf_token" value="{{$.Csrf}}" />
                        <input class="form-control" type="hidden" name="id" value="{{$gallery.ID}}" />
                        <input class="form-control" type="hidden" name="private" value="true" />
                        <button class="button button-primary" type="submit" value="Submit">Public</button>
                    </form>
                    {{end}}
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <a class="button button-primary" href="/admin/gallery/edit/{{$gallery.ID}}">Edit</a>
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <form action="/admin/gallery/delete" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="csrf_token" value="{{$.Csrf}}" />
                        <input class="form-control" type="hidden" name="gallery" value="{{$gallery.ID}}" />
                        <button class="button button-danger" type="submit" value="Submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Blogs</div>
        <a class="button button-primary" style="float:right;" href="/admin/blog">New</a>
    </div>
    <table>
        <thead>
            <tr>
                <th style="text-align:left;">Title</th>
                <th style="text-align:center;">Edit</th>
                <th style="text-align:center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{range $blog := .Blogs}}
            <tr>
                <td style="width:auto;text-align:left;">
                    {{$blog.Title}}
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <a class="button button-primary" href="/admin/blog/edit/{{$blog.ID}}">Edit</a>
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <form action="/admin/blog/delete" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="csrf_token" value="{{$.Csrf}}" />
                        <input class="form-control" type="hidden" name="id" value="{{$blog.ID}}" />
                        <button class="button button-danger" type="submit" value="Submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Commission Information
        </div>
    </div>
    <form action="/admin/commission/update" method="post" enctype="multipart/form-data">
        <input class="form-control" type="hidden" name="csrf_token" value="{{.Csrf}}" />
        <div class="form-group">
            <textarea placeholder="Commission description" class="form-control" rows="8" name="content">{{.Commission.Content}}</textarea>
        </div>
        <div class="form-group">
            <input type="radio" class="form-control" name="open" value="false" {{if .Commission.Open}}{{else}}checked{{end}}>Closed
            <input type="radio" class="form-control" name="open" value="true" {{if .Commission.Open}}checked{{end}}>Open
        </div>
        <div class="form-group">
            <button class="button button-default form-control" type="submit" value="Submit">Update</button>
        </div>
    </form>
</div>

<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">External Links
        </div>
    </div>
    <form action="/admin/link/new" method="post" enctype="multipart/form-data">
        <input class="form-control" type="hidden" name="csrf_token" value="{{.Csrf}}" />
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="url" placeholder="URL" />
        </div>
        <div class="form-group">
            <button class="button button-default form-control" type="submit" value="Submit">New</button>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th style="text-align:left;">Title</th>
                <th style="text-align:center;">Edit</th>
                <th style="text-align:center;">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{range $link := .Links}}
            <tr>
                <td style="width:auto;text-align:left;">
                    <a target="_blank" href="{{$link.Address}}">{{$link.Title}}</a>
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <a class="button button-primary" href="/admin/link/edit/{{$link.ID}}">Edit</a>
                </td>
                <td style="width:3em;text-align:center;" align="center">
                    <form action="/admin/link/delete" method="post" enctype="multipart/form-data">
                        <input class="form-control" type="hidden" name="csrf_token" value="{{$.Csrf}}" />
                        <input class="form-control" type="hidden" name="id" value="{{$link.ID}}" />
                        <button class="button button-danger" type="submit" value="Submit">Delete</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>


<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Site Settings
        </div>
    </div>
    <form action="/admin/settings/update" method="post" enctype="multipart/form-data">
        <input class="form-control" type="hidden" name="csrf_token" value="{{.Csrf}}" />
        <div class="form-group">
            <input type="text" class="form-control" name="title" value="{{.Meta.Title}}" placeholder="Title" />
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="desc" value="{{.Meta.Desc}}" placeholder="Description" />
        </div>
        <div class="form-group">
            <button class="button button-default form-control" type="submit" value="Submit">Update</button>
        </div>
    </form>
</div>



<div class="admin">
    <div class="gallery_info">
        <div class="admin_title">Change Password
        </div>
    </div>
    <form action="/admin/password/update" method="post" enctype="multipart/form-data">
        <input class="form-control" type="hidden" name="csrf_token" value="{{.Csrf}}" />
        <div class="form-group">
            <input type="password" class="form-control" name="oldpassword" placeholder="Old Password" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="newpassword" placeholder="New Password" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="checkpassword" placeholder="New Password (retype)" />
        </div>
        <div class="form-group">
            <button class="button button-default form-control" type="submit" value="Submit">Update</button>
        </div>
    </form>
</div>
{{ template "footer" .}}
